<div id="dashboard" class="page-layout simple right-sidebar" fxLayout="row">

  

  <!-- CENTER -->
  <div class="center" fusePerfectScrollbar>


      <!-- CONTENT -->
        <div class="content">

                <div class="left mr-lg-32">

                        <div fxLayout="column" fxLayoutAlign="start"
                        fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                           
                                 <!--   <div class="pb-24 font-size-18 font-weight-300">
                                        What are your top devices?
                                    </div>
                                -->
                                <!-- Widget -->
                                <div class="widget" fxFlex="100" fxFlex.gt-sm="33">

                                        <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                
                                        <div class="p-16">
                                            <div class="h1 font-weight-300">Minhas Lojas</div>
                                        </div>
                
                                        <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
                
                                            <div class="px-16" fxLayout="column" fxLayoutAlign="start center">
                
                                                <div class="h4 secondary-text">1</div>
                                                <mat-icon style="color: #FF9800" class="mat-icon-format">assignment</mat-icon>
                
                                            </div>
                
                                        </div>
                
                                        <div class="card-divider mb-0"></div>
                
                                        <div class="px-16" fxLayout="row" fxLayoutAlign="space-between center">
                                        
                                            <button mat-button [routerLink]="['../left-sidebar']" color="accent">ENTRAR</button>
                                        </div>

                                        </div>
                
                                    </div>
                                <!-- / Widget -->

                                <div class="widget" fxFlex="100" fxFlex.gt-sm="33">

                                    <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
            
                                    <div class="p-16">
                                        <div class="h1 font-weight-300">Produtos Publicados</div>
                                    </div>
            
                                    <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
            
                                        <div class="px-16" fxLayout="column" fxLayoutAlign="start center">
            
                                            <div class="h4 secondary-text">100</div>
                                            <mat-icon style="color: #FF5722" class="mat-icon-format" color="primary" >poll</mat-icon>
            
                                        </div>
            
                                    </div>
            
                                    <div class="card-divider mb-0"></div>
            
                                    <div class="px-16" fxLayout="row" fxLayoutAlign="space-between center">
                                    
                                        <button mat-button color="accent">ENTRAR</button>
                                    </div>

                                    </div>
            
                                </div>
                            <!-- / Widget -->

                            <div class="widget" fxFlex="100" fxFlex.gt-sm="33">

                                <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
        
                                <div class="p-16">
                                    <div class="h1 font-weight-300">Pedidos</div>
                                </div>
        
                                <div class="p-16" fxLayout="row" fxLayoutAlign="center center">
        
                                    <div class="px-16" fxLayout="column" fxLayoutAlign="start center">
        
                                        <div class="h4 secondary-text">0</div>
                                        <mat-icon style="color: #3C4252" class="mat-icon-format">settings</mat-icon>
        
                                    </div>
        
                                </div>
        
                                <div class="card-divider mb-0"></div>
        
                                <div class="px-16" fxLayout="row" fxLayoutAlign="space-between center">
                                
                                    <button mat-button color="accent">ENTRAR</button>
                                </div>

                                </div>
        
                            </div>
                        <!-- / Widget -->

                </div>

                </div>


        </div>
    <!-- / CONTENT -->
    </div>
  <!-- / CENTER -->

</div>
